# Node Environment
NODE_ENV=development

# Database
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=utmate
DATABASE_PASSWORD=utmate
DATABASE_NAME=utmate

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Server
SERVER_PORT=3000
CLIENT_URL=http://localhost:3000

# Client
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_INTERNAL_API_URL=http://localhost:8080/api
NEXT_MSW_ENABLED=false

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:8080/api/auth/github/callback

# JWT
JWT_ACCESS_SECRET=your-super-secret-key-change-this-in-production
JWT_ACCESS_EXPIRES_IN=1800
JWT_REFRESH_SECRET=your-super-secret-key-change-this-in-production-for-refresh
JWT_REFRESH_EXPIRES_IN=604800
